<!DOCTYPE html>
<html>
  <head>
     <meta charset = "utf-8">
     <title>Agency</title>
     <link rel = "stylesheet" type = "text/css" href = "styles/abu.css">
  </head>
<body>
  <header>
     <h1>BOOKS</h1>
     <h3>Transport You Anywhere</h3>

        <nav>
           <a href = "">Home</a>
           <a href = "">About</a>
           <a href = "">Submissions</a>
        </nav>
  </header>   
<br />
<p class = "tile"><b>Welcome to JP Literary Agency, LLC.</b></hp>

<br />
<br />



<h3 class = "cat">ABOUT US</h3>


<p class = "num">We're first-class agents on the hunt for first-class writers.</p>

<article>
<p>Have you written a manuscript that captures imaginations, engages minds, elicits response? Sign up with us. Let us make your publishing dreams come true.</p>

<p>You with the gift to craft words into fresh and engaging content. With JP Literary Agency, you're in good hands, beause we know what works, what doesn't and why.</p>
</article>

<br />





<h3 class = "ber">What are we hoping to find?</h3> 

<article>
<p class = "ero">A writer with a compelling voice.</p>
</article>


<div>
<article>
<blockquote>

<p>An author's voice is often imitated, but a truly original voice can never be duplicated.</p>



<p>Undoubtedly, voice is one of the most difficult writing terms to define and pinpoint, but we at JP Literary Agency like to think of it as a sensibility with which an author writes. It's a perspective, an outlook on the world, a personality and style that is recognizable even out of context. You could drop randomly into a David Sedaris story or an Ernest Hemingway novel and probably guess the author within a few paragraphs.</p>       

<p>Why?</p> 

<p>Easy. They have strong, unique voices.</p>

<p>It's tough to get in the door. Show us up-front proof of the quality of your writing, the strength of your concept.</p> 

<p>Be that author who brings the reader into an imaginary yet 'real' world, creates compelling characters who live there, make us root for them, while taking us on a rip-roaring yarn.</p>

<p>Always, the literary market is looking for something fresh and original, a new voice. Maybe that new voice is you.</

</blockquote>
</article>

                                                                  <igroup>
                                                                   <ul>
								    <li><i>Jide Peters</i></li>
								    <li><i>Head, Acquistions</i></li>
                                                                   </ul>
                                                                  </igroup>

                                                                  
                                                                  






<br />
<br />
<br />

<footer>
  <hr> 
   <small>Copyright &copy; Jide Peters 2019 Email: pyramidj2000@yahoo.com</small>
</footer>

</body>

</html>
