<!DOCTYPE html>
<html>
  <head>
     <meta charset = "utf-8">
     <title>Agency</title>
     <link rel = "stylesheet" type = "text/css" href = "styles/hom.css">
  </head>
<body>
  <header>
     <h1>BOOKS</h1>
     <h3>Transport You Anywhere</h3>

        <nav>
           <a href = "">Home</a>
           <a href = "">About</a>
           <a href = "">Submissions</a>
        </nav>
  </header>   
<br />
  <img src = "BOOKS.png" alt = "Interwoven road network" />


<br />
   <p><b>Welcome to JP Literary Agency, LLC.</b></p>
     
<footer><small>Copyright &copy; Jide Peters 2019 Email: pyramidj2000@yahoo.com</small></footer>

</body>

</html>
