<!DOCTYPE html>
<html>
  <head>
     <meta charset = "utf-8">
     <title>Agency</title>
     <link rel = "stylesheet" type = "text/css" href = "styles/ssuub.css">
  </head>
<body>
  <header>
     <h1>BOOKS</h1>
     <h3>Transport You Anywhere</h3>

        <nav>
           <a href = "">Home</a>
           <a href = "">About</a>
           <a href = "">Submissions</a>
        </nav>
  </header>   
<br />
<p class = "tile"><b>Welcome to JP Literary Agency, LLC.</b></hp>

<br />
<br />
<br />


    <h3 class = "num">CONTACT US</h3>

        <p>For non-literary enquiries, please visit www.jpholdings.ng.com.</p>
<br />
<br />



     <h3 class = "num">SUBMISSIONS</h3>

         <p>We are interested in representing works of creative non-fiction and fiction, specifically mysteries, suspense, thillers and the romance genre.</p>

         <p>You needn't bother with a self-addressed stamped envelope for your queries. We pride ourselves on being a 'green' company and would prefer you query us via email only.</p>


          <p>Email the first ten pages of your manuscript with a 1-page query letter to the address below. Please no attachments.</p>
<br />

          <p class = "mail">Email: submissions@jplitagency.com</p>
<br />

      <div>
         <p>Please remember that a good query letter should mimic the hardcover flap copy or paperback cover copy you would expect to see on your book should it be published. </p>

         <p>It goes without saying: Review your material. Do your research and do a halfway decent job on your query letter and the strength of your writing and your personality will shine through.</p>

         <p>Good writing is good writing, the label they'll put on it in the library regardless.</p>

         <p>So, no pedestrian prose, no predictable plots. Remember, if it catches our eye, there's a good chance it'll catch an editor's.</p>
      </div>




<br />
<br />
<br />

<footer>
  <hr> 
   <small>Copyright &copy; Jide Peters 2019 Email: pyramidj2000@yahoo.com</small>
</footer>

</body>

</html>














